body{
    background-color: #ffffff
}

#first_row{
    margin-bottom: 20px;
}
#area_choose{
    height: 200px;
    overflow-y: scroll;
}

.ibox-title{
    background-color: #ECF2FF;
}

.ibox{
    border:1px solid #b4b4b4;
}

#charts_button{
    margin-left: 20px;
}
.typeahead { z-index: 1051; }

/*#ibox-content{
    margin: auto;
}*/

#search{
    margin-right: 15px;
}
#reset{
    margin-left: 15px;
}
#min_button{   /*按钮组不换行*/
    min-width: 165px;
}

/*门户表格*/
#webCount_table td{
    white-space: nowrap; /*//规定段落中的文本不进行换行*/
}


